.main-container {
    width: 100%;
    padding: 3em 2rem 4em;
}

.introduction-wrapper {
    margin: 0 auto;
    width: 826px;
    text-align: center;
}

.introduction-wrapper h1 {
    font-weight: 900;
    font-size: clamp(1.8em,calc(1em + 3vw),4.6em); /* check out docs https://developer.mozilla.org/en-US/docs/Web/CSS/clamp()*/
}

.introduction-wrapper p {
    width: 700px;
    font-size: clamp(1.125em,2vw,2em);
    font-weight: 300;
    margin: .4em auto 2.5em auto;
    line-height: 1.5;
}