.section-wrapper {
    margin: 0 auto;
    width: 826px;
    text-align: center;
    padding-top: 3em;
    
}

h1.headline {
    font-weight: 900;
    font-size: 3.75rem;
}

p.paragraph {
    width: 700px;
    font-size: 1.75rem;
    font-weight: 300;
    margin: .4em auto 0 auto;
    line-height: 1.5;
}