.contact-container {
    background-color: #222;
    border-top: .8em solid #008ccf;
    display: flex;
    flex-wrap: wrap;
}

.contact-container .card-wrapper {
    width: 50%;
}

.contact-container .connect-wrapper {
    width: 50%;
}

.contact-container h3, svg {
    color: #fff;
}

.contact-container p {
    color: #d8d8d8;
}


