* {
  box-sizing: border-box;
  font-family: lato, sans-serif;
  list-style-type: none;
  margin: 0;
  text-decoration: none;
}

body {
  color: #333;
}

/*learned to never put color on * class because it's really hard to change*/

a {
  color:#008ccf;
}

p {
  font-family: Merriweather, sans-serif;
}

h2 {
  font-size: 3em;
  font-weight: 900;
}

hr {
  width: 100%;
  margin: calc(2.5rem - 1px) auto;
  background-color: #d8d8d8;
  border: none;
  height: 1px;
}

