* {
  box-sizing: border-box;
  font-family: lato, sans-serif;
  color: #333;
  background: #f9f9f9;
  list-style-type: none;
  margin: 0;
  text-decoration: none;
}

a {
  color:#008ccf;
}

p {
  font-family: Merriweather, sans-serif;
  /* color: #666; */
}

